 <div class="container my_cont">
    <h1 style="text-align: center;">Account Setting</h1>
<div class="row my_rw">
    <div class="col-4 my_col">
        <h6>Sign in and Security</h6> 
    </div>
    <div class="col-4 my_col">
        <h6>Data Privacy</h6>
    </div>
    <div class="col-4 my_col">
        <h6>Change Password</h6>
    </div>
</div>
<div class="row my_rw">
    <div class="col-4 my_col">
        <h6>Help Center</h6>
    </div>
    <div class="col-4 my_col">
        <h6>User agreement</h6>
    </div>
    <div class="col-4 my_col">
        <h6>Sign Out</h6>
    </div>
</div>
<div class="row my_rw">
    <div class="col-4 my_col">
        <h6>Color Options</h6>
    </div>
    <div class="col-4 my_col">
        <h6>Version</h6>
    </div>
</div>
<br><br>
</div> 

<p>hello</p> -->