h1{
    text-align: center;
    color: chocolate;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    text-align: center;
    color: white;
}
h6{
    text-align: center;
    color:maroon;
}
h5{
    text-align: center;
    color: green;
}