<!-- <p>sitelayout works!</p> -->
<app-header></app-header>
<div class="container" style=" min-height:385px;">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>


<!-- <header style="border:1px solid red; background-color:bisque;"> 
    <app-header></app-header>
  </header>
  <div style="border:1px solid green; min-height:426px; background-color:lavender;">
    <router-outlet></router-outlet>
  </div>
  <footer style="border:1px solid blue; background-color:darkgray;">
    <app-footer></app-footer>
  </footer> -->